[submodule ".registry"]
	path = .registry
	url = https://github.com/almirall-rddatascience/almirall-rddatascience.r-universe.dev
	branch = HEAD
[submodule "Azimuth"]
	path = Azimuth
	url = https://github.com/zeehio/azimuth
[submodule "SeuratData"]
	path = SeuratData
	url = https://github.com/satijalab/seurat-data
[submodule "SeuratDisk"]
	path = SeuratDisk
	url = https://github.com/mojaveazure/seurat-disk
[submodule "presto"]
	path = presto
	url = https://github.com/immunogenomics/presto
	registered = false
