[submodule ".registry"]
	path = .registry
	url = https://github.com/almirall-rddatascience/almirall-rddatascience.r-universe.dev
	branch = HEAD
[submodule "azimuth"]
	path = azimuth
	url = https://github.com/zeehio/azimuth
