[submodule ".registry"]
	path = .registry
	url = https://github.com/almirall-rddatascience/almirall-rddatascience.r-universe.dev
	branch = HEAD
[submodule "Azimuth"]
	path = Azimuth
	url = https://github.com/zeehio/azimuth
